@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// vars
$spacer : 24px;


$bg : darken(#E0DFE6, 5%);

$white : #FFFFFF;
$black : #4B5C64; //#595D5F;
$black-light : #95989A;
$black-lighter : lighten($black-light, 20%);
$blue :  #15b9d2; //#3FB8AF;
$blue-light: #C6D9DD;
$yellow : #f8f19b;
$orange : #F35935;
$green : #10b304;
$green-light: #97F2C1;
$lime : #CBE62B;
$red: #E02706;
$red-light: #F2A597;

$highlight : $blue;

// defaults
body {
    background: $white;
    background-repeat: no-repeat;
    background: linear-gradient($blue-light, $white);
    color: $black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;   
    min-height: 100vh;
}
h1, h2, h3 {
    margin-bottom: $spacer * 1.5;
}
h2 {
    font-size: 22px;
    font-weight: 400;
}
p {
    line-height: 1.625em;
}
a {
    color: darken($highlight, 15%);
    text-decoration: none;
}
table {
    width: 100%;
    //margin: $spacer;
    tr {
        th {
            padding: $spacer $spacer/2 $spacer/2;
            text-align: left;
            text-transform: uppercase;
            border-bottom: 3px solid rgba($black, 0.5);
        }
        td {
            width: calc(100vh / 7);
            padding: $spacer/2;
            border-bottom: 1px dotted rgba($black, 0.15);
        }
        &.Multi {
            td:last-child {
                color: $black;
                background: rgba($black, 0.15);
            }
        }
        &.Single {
            td:last-child {
                color: $orange;
                background: rgba($orange, 0.15);
            }
        }
    }
}
section {
    position: relative;
    > div {
        width: 100%;
        
    }
}
.layout-scoreboard {
    section {
        padding: $spacer 8%;
        > div {
            width: 100%;
        
        }
    }
}
var {
    font-style: normal;
}
img {
    max-width: 100%;
}
hr {
    border: none;
    border-bottom: 1px solid rgba($black, 0.2);
    margin: $spacer*2 0;
}
// classes

.layout-dashboard {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 66px;
    background: linear-gradient(rgba($black, 0.4), rgba(darken($black, 8%), 0.8));
    background: darken($highlight, 45%);
    color: rgba($white, 0.6);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    display: table;
    box-shadow: 0px -6px 14px 6px rgba(#000, 0.2);
    > div {
        display: table-cell;
        vertical-align: middle;
        padding: 0 $spacer;
        width: 25%;
        text-align: center;
        &:last-child {
            text-align: right;
        }
        &:first-child {
            text-align: left;
        }
    }
    i {
        margin-left: $spacer;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    span {
        //font-family: monospace;
       
        margin:0 $spacer 0 $spacer/4;
        color: $highlight;
    }
}

.btn {
    text-transform: uppercase;
    padding: $spacer;
    background: $highlight;
    color: $white;
    font-size: 14px;
    display: block;
    text-align: center;
    border-radius: 2px;
}

.ui-complete {
    position: relative;
    padding: $spacer * 2 $spacer $spacer;
    > div, .btn {
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
    }
}

.ui-score {

    text-transform: uppercase;
    div {
        color: $green;
        font-size: 48px;
        font-weight: 700;
    }
    P {
        font-family: monospace;
        font-size: 22px;
    }
    .end {
        display: none;
    }
    &.done {
        .end {
            display: block;
        }
        .start {
            display: none;
        }
    }
}


// WORDS
.ui-words-list {
    position: relative;
    z-index: 2;
    transition: all 180ms linear;
    margin: 0 auto;
    width: 100%;
    max-width: 354px;
    .word {
        position: relative;
        font-size: 22px;
        line-height: 44px;
        padding: $spacer 0;
        text-transform: lowercase;
        height: 44px;
    }
}
.ui-words-wrapper {
    position: relative;
    padding: $spacer * 3 0 $spacer * 6;
    &.pause {
        filter: blur(4px);
        background: none;
    }
}

.layout-columns {
    .ui-words-wrapper {
        padding: $spacer * 2 0 $spacer * 4;
    }
    .ui-words-list {
        max-width: 100%;    
        display: flex;
        flex-wrap: wrap;
        //align-content: space-around;
        justify-content: center;
        .word {
            
            display: block;
            padding: $spacer/2;
            background: rgba($black, 0.15);
            margin-bottom: 1px !important;
            margin: 0 12px;
            flex: 1 0 50%;
            
            @media screen and (min-width: 900px) {
			    flex: 0 0 28%;
			    margin: 0 4px 0 4px;
			    font-size: 18px;
		    }
		     @media screen and (min-width: 1400px) {
			    flex: 0 0 16%;
			    margin: 0 $spacer/4 0 $spacer/4;
		    }
		    @media screen and (min-width: 1680px) {
			    flex: 0 0 15%;
                margin: 0 $spacer/2 0 $spacer/2;
			    font-size: 22px;
			    padding: $spacer $spacer/2;
		    }
        }
    }
    .ui-word-controls {
        right: $spacer/2;
        left: auto;
        @media screen and (min-width: 1680px) {
            right: $spacer;
        }
    }
    
}

// controls WORD UI

.ui-word-controls {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    display: table;
    > div {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: right;
    }
    .yes, .no {
        width: 44px;
        height: 44px;
        border-radius: 100%;
        border: 1px dashed lighten($black, 15%);
        color:  lighten($black, 15%);
        display: inline-block;
        font-size: 22px;
        line-height: 54px;
        user-select: none;
        cursor: pointer;
        text-align: center;
        transition: all 180ms ease-in-out;
        &:nth-child(1) {
           // right: calc(56px + #{$spacer});
/*
            border: 2px dotted $red;
            color: $green;
*/
           
        }
        span {
            pointer-events: none;
        }
        &:hover {
/*
            background: darken($red, 10%);
            &:nth-child(1) {
                background: darken($green, 10%);
            }
*/
        }
    }
}

// selection states
.word {
    transition: all 320ms linear;
    &.yes {
        .ui-word-controls {
            .yes {
                border-color: transparent;
                background: $green;
                color: $white;
            }
        }
    
    }
    &.no {
        .ui-word-controls {
            .no {
                border-color: transparent;
                background: $red;
                color: $white;
            }
        }
    }
    &.wrong {
        opacity: 0.5;
        &:before {
            content: "clear";
            font-family: "Material Icons";
            color: $red;
        }
    }
    &.right {
        opacity: 0.5;
        &:before {
            content: "check";
            font-family: "Material Icons";
            color: $green;
        }
    }
    &.closed {
        pointer-events: none;
    }
}


.ui-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(#111, 0.9);
    display: table;
    color: $white;
    transition: all 320ms ease-in-out;
    > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .btn {
            width: 200px;
            margin: 0 auto;
        }
        h2 {
            font-size: 48px;
            font-weight: 400;
            margin: $spacer/2 0 $spacer*2;
        }
        h1, p {
            opacity: 0.3;
            margin: 0;
            
        }
        p {
            line-height: 0;
            margin: 2px 0 44px 0;
            span {
                border: 2px solid $white;
                width: 33px;
                height: 33px;
                border-radius: 100%;
                display: inline-block;
                margin-right: 12px;
                
                i {
                    line-height: 33px;
                   
                }
                &:nth-of-type(2) {
                    margin: 0 0 0 12px;
                }
            }
        }
    }
    &.off {
        opacity: 0;
        transform: scale(1.15);
    }
}


.ui-two-x-two {
    position: relative;
    width: 100%;
    height: 80vh;
    border-left: 3px solid rgba($black, 0.5);
    border-bottom: 3px solid rgba($black, 0.5);
    margin-bottom: $spacer * 1.5;
    .pt {
        position: absolute;
        transform: translateX(-7px) translateY(-7px);
       // top: calc(50% - 11px);
        width: 14px;
        height: 14px;
        border-radius: 100%;
        display: block;
        background: rgba($orange, 0.75);
        &.Multi {
            background: rgba($black, 0.75);
        }
    }
    span {
        position: absolute;
        height: 100%;
        width: 1px;
        border-left: 1px dashed rgba($black, 0.4);
    
        @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
                left: calc(10% * #{$i});
                &:after {
                    content: "#{$i}0";
                    position: absolute;
                    bottom: 5px;
                    left: -60px;
                    width: 50px;
                    text-align: right;
                    font-size: 11px;
                }
            }
        }
    }
    &:after {
        content: "Accuracy";
        position: absolute;
        right: 0%;
        bottom: -$spacer;
        text-transform: uppercase;
         
    }
    &:before {
        content: "Speed";
        position: absolute;
        left: -40px;
        top: 16px;
        transform: rotate(-90deg);
        text-transform: uppercase;
         
    }
}
